In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("deb-feinen.csv")
df

,Contributed By,Amount,Amount Received Date,Report Received Date,Received By,Description,Vendor Name,Vendor Address
0,15th Congressional District\n1401 Mesquite\nPo...,$200.00,9/10/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN
1,A.B.D.I. / PAC (Associated Beer Distributors o...,"$2,000.00",11/6/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN
2,A.B.D.I. / PAC (Associated Beer Distributors o...,$500.00,10/15/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN
3,A.B.D.I. / PAC (Associated Beer Distributors o...,$300.00,3/10/2004,8/2/2004,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN
4,"ABATE PAC\n1725 E CR 875 N\nCamargo, IL 61919",$300.00,10/18/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
354,"Williams, Diana S.\n1901 Golfview\nUrbana, IL ...",$250.00,2/12/2015,4/14/2015,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN
355,"Williams, Diana S.\n1901 Golfview\nUrbana, IL ...",$200.00,8/6/2014,10/1/2014,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN
356,"Yarbrough, Roger\n1105 Devonshire Drive\nChamp...",$250.00,9/28/2004,4/21/2005,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN
357,"Yarbrough, Roger\n1105 Devonshire Drive\nChamp...",$250.00,8/5/2004,4/21/2005,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN
358,"Zachary, Monica L.\n598 Pinecrest Place\nRanto...",$250.00,2/4/2004,8/2/2004,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN

In [3]:
#def get_date_info(column_name, og_column, date_info):
    #df[column_name] = pd.DatetimeIndex(data = df[og_column]).date_info

In [4]:
#extracting date information from date columns
df["Amount received year"] = pd.DatetimeIndex(data = df["Amount Received Date"]).year
df["Amount received month"] = pd.DatetimeIndex(data = df["Amount Received Date"]).month
df["Amount received day"] = pd.DatetimeIndex(data = df["Amount Received Date"]).day
df["Report received year"] = pd.DatetimeIndex(data = df["Report Received Date"]).year
df["Report received month"] = pd.DatetimeIndex(data = df["Report Received Date"]).month
df["Report received day"] = pd.DatetimeIndex(data = df["Report Received Date"]).day
df

,Contributed By,Amount,Amount Received Date,Report Received Date,Received By,Description,Vendor Name,Vendor Address,Amount received year,Amount received month,Amount received day,Report received year,Report received month,Report received day
0,15th Congressional District\n1401 Mesquite\nPo...,$200.00,9/10/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,9,10,2005,4,21
1,A.B.D.I. / PAC (Associated Beer Distributors o...,"$2,000.00",11/6/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,11,6,2005,4,21
2,A.B.D.I. / PAC (Associated Beer Distributors o...,$500.00,10/15/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,10,15,2005,4,21
3,A.B.D.I. / PAC (Associated Beer Distributors o...,$300.00,3/10/2004,8/2/2004,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,3,10,2004,8,2
4,"ABATE PAC\n1725 E CR 875 N\nCamargo, IL 61919",$300.00,10/18/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,10,18,2005,4,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,"Williams, Diana S.\n1901 Golfview\nUrbana, IL ...",$250.00,2/12/2015,4/14/2015,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2015,2,12,2015,4,14
355,"Williams, Diana S.\n1901 Golfview\nUrbana, IL ...",$200.00,8/6/2014,10/1/2014,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2014,8,6,2014,10,1
356,"Yarbrough, Roger\n1105 Devonshire Drive\nChamp...",$250.00,9/28/2004,4/21/2005,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2004,9,28,2005,4,21
357,"Yarbrough, Roger\n1105 Devonshire Drive\nChamp...",$250.00,8/5/2004,4/21/2005,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2004,8,5,2005,4,21
358,"Zachary, Monica L.\n598 Pinecrest Place\nRanto...",$250.00,2/4/2004,8/2/2004,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2004,2,4,2004,8,2

In [5]:
#Making dollar amount numeric data
df["Amount"] = df["Amount"].replace(to_replace = "\$", value = "", regex = True)
df["Amount"] = df["Amount"].replace(to_replace = ",", value = "", regex = True)
df["Amount"] = df["Amount"].astype(float)
df

,Contributed By,Amount,Amount Received Date,Report Received Date,Received By,Description,Vendor Name,Vendor Address,Amount received year,Amount received month,Amount received day,Report received year,Report received month,Report received day
0,15th Congressional District\n1401 Mesquite\nPo...,200.0,9/10/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,9,10,2005,4,21
1,A.B.D.I. / PAC (Associated Beer Distributors o...,2000.0,11/6/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,11,6,2005,4,21
2,A.B.D.I. / PAC (Associated Beer Distributors o...,500.0,10/15/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,10,15,2005,4,21
3,A.B.D.I. / PAC (Associated Beer Distributors o...,300.0,3/10/2004,8/2/2004,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,3,10,2004,8,2
4,"ABATE PAC\n1725 E CR 875 N\nCamargo, IL 61919",300.0,10/18/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,10,18,2005,4,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,"Williams, Diana S.\n1901 Golfview\nUrbana, IL ...",250.0,2/12/2015,4/14/2015,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2015,2,12,2015,4,14
355,"Williams, Diana S.\n1901 Golfview\nUrbana, IL ...",200.0,8/6/2014,10/1/2014,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2014,8,6,2014,10,1
356,"Yarbrough, Roger\n1105 Devonshire Drive\nChamp...",250.0,9/28/2004,4/21/2005,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2004,9,28,2005,4,21
357,"Yarbrough, Roger\n1105 Devonshire Drive\nChamp...",250.0,8/5/2004,4/21/2005,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2004,8,5,2005,4,21
358,"Zachary, Monica L.\n598 Pinecrest Place\nRanto...",250.0,2/4/2004,8/2/2004,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2004,2,4,2004,8,2

***
**Timeline of Deb Feinen's political career, to put the following DataFrames into context:**
- 1992 - 2007: County Board, Member and Vice Chair
- 2007 - 2015: Champaign City Council, At Large Member
- 2015 - present: Mayor of Champaign
***

In [6]:
df_year_total = df.groupby("Amount received year").agg("sum").reset_index()
df_year_total
#what was she doing in 2003 / 2004 that required so much money?

,Amount received year,Amount,Amount received month,Amount received day,Report received year,Report received month,Report received day
0,2003,22984.08,475,768,88176,44,1320
1,2004,88257.72,668,1672,196455,532,1393
2,2005,4721.79,2,40,4010,14,12
3,2007,8449.00,69,336,54189,189,297
4,2011,1000.00,3,15,2011,4,1
5,2013,6680.00,88,246,26169,121,100
6,2014,17845.00,399,642,110773,460,220
7,2015,38017.74,120,803,106795,227,742
8,2017,700.00,11,45,4034,14,15
9,2018,1500.00,12,28,2019,1,9
10,2019,28854.51,154,943,119121,236,826
11,2020,250.00,12,18,2021,1,5
12,2022,2553.00,14,45,4044,17,8
13,2023,1000.00,1,2,2023,1,2

In [7]:
df_year_count = df.groupby("Amount received year").agg("count").reset_index()
df_year_count

,Amount received year,Contributed By,Amount,Amount Received Date,Report Received Date,Received By,Description,Vendor Name,Vendor Address,Amount received month,Amount received day,Report received year,Report received month,Report received day
0,2003,44,44,44,44,44,8,4,4,44,44,44,44,44
1,2004,98,98,98,98,98,20,19,19,98,98,98,98,98
2,2005,2,2,2,2,2,2,1,1,2,2,2,2,2
3,2007,27,27,27,27,27,1,1,1,27,27,27,27,27
4,2011,1,1,1,1,1,0,0,0,1,1,1,1,1
5,2013,13,13,13,13,13,1,1,1,13,13,13,13,13
6,2014,55,55,55,55,55,4,3,3,55,55,55,55,55
7,2015,53,53,53,53,53,8,8,8,53,53,53,53,53
8,2017,2,2,2,2,2,0,0,0,2,2,2,2,2
9,2018,1,1,1,1,1,0,0,0,1,1,1,1,1
10,2019,59,59,59,59,59,3,3,3,59,59,59,59,59
11,2020,1,1,1,1,1,0,0,0,1,1,1,1,1
12,2022,2,2,2,2,2,0,0,0,2,2,2,2,2
13,2023,1,1,1,1,1,0,0,0,1,1,1,1,1

In [8]:
df_contributors = df.groupby("Contributed By").agg("sum").reset_index()
df_contributors

,Contributed By,Amount,Amount received year,Amount received month,Amount received day,Report received year,Report received month,Report received day
0,15th Congressional District\n1401 Mesquite\nPo...,200.0,2004,9,10,2005,4,21
1,A.B.D.I. / PAC (Associated Beer Distributors o...,2800.0,6012,24,31,6014,16,44
2,"ABATE PAC\n1725 E CR 875 N\nCamargo, IL 61919",500.0,4008,14,45,4009,12,23
3,AFL-CIO of Champaign County\n404 West Church S...,250.0,2019,3,18,2019,4,14
4,Adams Outdoor Advertising\n704 N Neil St\nCham...,250.0,2007,3,26,2007,7,11
...,...,...,...,...,...,...,...,...
226,"Weiss, Kenneth S.\n2061 County Road 1400 N\nSt...",250.0,2003,12,2,2004,1,30
227,"Williams, Diana S.\n1901 Golfview\nUrbana, IL ...",450.0,4029,10,18,4029,14,15
228,"Yarbrough, Roger\n1105 Devonshire Drive\nChamp...",500.0,4008,17,33,4010,8,42
229,"Zachary, Monica L.\n598 Pinecrest Place\nRanto...",250.0,2004,2,4,2004,8,2
230,"printec\n2602 North Mattis Avenue\nChampaign, ...",510.0,2004,9,29,2005,4,21

***
231 unique donors; 359 total contributions
***

In [9]:
df_contributors["Contributed By"][1]

'A.B.D.I. / PAC (Associated Beer Distributors of Illinois)\nP.O. Box 396\nSpringfield, IL 62705'

In [10]:
df

,Contributed By,Amount,Amount Received Date,Report Received Date,Received By,Description,Vendor Name,Vendor Address,Amount received year,Amount received month,Amount received day,Report received year,Report received month,Report received day
0,15th Congressional District\n1401 Mesquite\nPo...,200.0,9/10/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,9,10,2005,4,21
1,A.B.D.I. / PAC (Associated Beer Distributors o...,2000.0,11/6/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,11,6,2005,4,21
2,A.B.D.I. / PAC (Associated Beer Distributors o...,500.0,10/15/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,10,15,2005,4,21
3,A.B.D.I. / PAC (Associated Beer Distributors o...,300.0,3/10/2004,8/2/2004,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,3,10,2004,8,2
4,"ABATE PAC\n1725 E CR 875 N\nCamargo, IL 61919",300.0,10/18/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,10,18,2005,4,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,"Williams, Diana S.\n1901 Golfview\nUrbana, IL ...",250.0,2/12/2015,4/14/2015,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2015,2,12,2015,4,14
355,"Williams, Diana S.\n1901 Golfview\nUrbana, IL ...",200.0,8/6/2014,10/1/2014,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2014,8,6,2014,10,1
356,"Yarbrough, Roger\n1105 Devonshire Drive\nChamp...",250.0,9/28/2004,4/21/2005,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2004,9,28,2005,4,21
357,"Yarbrough, Roger\n1105 Devonshire Drive\nChamp...",250.0,8/5/2004,4/21/2005,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2004,8,5,2005,4,21
358,"Zachary, Monica L.\n598 Pinecrest Place\nRanto...",250.0,2/4/2004,8/2/2004,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2004,2,4,2004,8,2

In [11]:
#Pulling out address data
#also separate column for donor name

df["Address"] = df["Contributed By"].str.split("\n").str[1]
df["Donor"] = df["Contributed By"].str.split("\n").str[0]
df

,Contributed By,Amount,Amount Received Date,Report Received Date,Received By,Description,Vendor Name,Vendor Address,Amount received year,Amount received month,Amount received day,Report received year,Report received month,Report received day,Address,Donor
0,15th Congressional District\n1401 Mesquite\nPo...,200.0,9/10/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,9,10,2005,4,21,1401 Mesquite,15th Congressional District
1,A.B.D.I. / PAC (Associated Beer Distributors o...,2000.0,11/6/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,11,6,2005,4,21,P.O. Box 396,A.B.D.I. / PAC (Associated Beer Distributors o...
2,A.B.D.I. / PAC (Associated Beer Distributors o...,500.0,10/15/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,10,15,2005,4,21,P.O. Box 396,A.B.D.I. / PAC (Associated Beer Distributors o...
3,A.B.D.I. / PAC (Associated Beer Distributors o...,300.0,3/10/2004,8/2/2004,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,3,10,2004,8,2,P.O. Box 396,A.B.D.I. / PAC (Associated Beer Distributors o...
4,"ABATE PAC\n1725 E CR 875 N\nCamargo, IL 61919",300.0,10/18/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,10,18,2005,4,21,1725 E CR 875 N,ABATE PAC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,"Williams, Diana S.\n1901 Golfview\nUrbana, IL ...",250.0,2/12/2015,4/14/2015,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2015,2,12,2015,4,14,1901 Golfview,"Williams, Diana S."
355,"Williams, Diana S.\n1901 Golfview\nUrbana, IL ...",200.0,8/6/2014,10/1/2014,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2014,8,6,2014,10,1,1901 Golfview,"Williams, Diana S."
356,"Yarbrough, Roger\n1105 Devonshire Drive\nChamp...",250.0,9/28/2004,4/21/2005,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2004,9,28,2005,4,21,1105 Devonshire Drive,"Yarbrough, Roger"
357,"Yarbrough, Roger\n1105 Devonshire Drive\nChamp...",250.0,8/5/2004,4/21/2005,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2004,8,5,2005,4,21,1105 Devonshire Drive,"Yarbrough, Roger"
358,"Zachary, Monica L.\n598 Pinecrest Place\nRanto...",250.0,2/4/2004,8/2/2004,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2004,2,4,2004,8,2,598 Pinecrest Place,"Zachary, Monica L."

In [18]:
df["Donor"].unique()

array(['15th Congressional District',
       'A.B.D.I. / PAC (Associated Beer Distributors of Illinois)',
       'ABATE PAC', 'Adams Outdoor Advertising',
       'AFL-CIO of Champaign County', 'Alliance of American Insurers',
       'Allied Capital Title', 'Armstrong Lumber',
       'At&T Illinois Employee PAC',
       "Attorneys' Title Guaranty Fund Inc.",
       "Attorney's Title Guaranty Fund, Inc.",
       "Attorneys' Title Guaranty Fund, Inc. Fed Political Action Committee",
       'Auth, Mary', 'B & C Development', 'Ballard, Mark',
       'Barham, James A.', 'Bauer, Wendy', 'Beyers, Roderick (Rick) E.',
       'Bilger, Kenneth', 'Blager Concrete Co', 'Brantingham, Shirley',
       'Broeren, Stuart W.', 'Bruno, Thomas A.',
       'Bussell, Eric and Nancy', 'Cameron, Floyd',
       'Candlewood Estates LLC', 'Capel, III, James',
       'Central Il Manufacturing Co', 'Chamley, Joseph',
       'Champaign Chemical Company',
       'Champaign County Business Empowered PAC',
       'Champaign County Chamber of Commerce',
       'Champaign Firefighters for Good Gov.',
       'Champaign Firefighters Local 1260',
       'Champaign Firefighters Local 1260 IAF', 'Chem-PAC (CICI)',
       'Citizens for Joann Osmond', 'Citizens for Rauschenberger',
       'Citizens for Rick Winkel', 'Citizens to Elect Tom Cross',
       'Clarke, Jerome', 'Clausen, L. Dean', 'Cleary, Joseph and Janine',
       'Clem, Harry E.', 'Cochrane, Scott', 'Combes, Karina K.',
       'Cowser, Rick', 'Cozad, Gregory D.', 'Crawmer, Daniel',
       'Cross, James', 'CSX Transportation Inc.', 'CU PLUMBING INC',
       'CU Under Construction Inc', 'Cunningham Motor Sales Inc.',
       'Dabrowski, Melinda A.', 'Devonshire Realty', 'Dodds, Jason H.',
       'Dodds, Jr., Donald C.', 'Dodds, Marci', 'Dodds, Newton H.',
       'Dorsey, Patrick B.', 'Ducey, Michael', 'Faron Properties',
       'Faron, James', 'Fiedler, Tom', 'Filson/Gordon Associates',
       'Fiscella, Phil and Julie', 'Fishel, Lynda',
       'Fitzgerald, Patrick T.', 'Flessner, Don',
       'Fox Restaurant Venture L.L.C.', 'Fox, Peter and Kim',
       'Frank, Linda S.', 'Frasca, Tom & Barb', 'Frederick, Robert',
       'Frederick, Robert G.', 'Friends for Renee Kosel',
       'Friends of Chapin Rose', 'Friends of Dan Brady',
       'Friends of Ginny Holder', 'Friends of Jason Barickman',
       'Friends of Thomas McNamara', 'Funderburg, Rochelle',
       'Furtney, Robert D.', 'Gillespie, Tom', 'Goglia, Joe',
       'Good Government Council', 'Grace, Susan', 'Grandone, Helen F.',
       'Green, Frederick S.', 'Grey and Associates', 'Haasis, Regina',
       'Habeeb, Habeeb G.', 'Hannon, Bruce M.',
       'Harrington Jr., Thomas E.', 'Harrington, Tim and Kristy',
       'Hartman, Christopher', 'Hartman, Jeffrey', 'Hartman, Michael R.',
       'Hartman, Stephen', 'Health Alliance Medical Plans',
       'Hecker, John Z.', 'Heilig, Peggy', 'Herbert, Tracey',
       'Herriott, David', 'Holt, Dale and Helen', 'Home Builders of ECI',
       'House Republican Organization', 'Howell, D.D.S., J. Barry',
       'Hulten, Gordy and Pam', 'ILIPAC',
       'Illinois Insurance Political Committee',
       'Illinois Life Insurance Council',
       'Illinois Liscensed Beverage Association',
       'Imperial Concrete Co. Inc.',
       'INA-PAC (Illinois Nurses Association)', 'Jeffrey R. Hartman Co.',
       "Jill's Creative Expressions", 'Johnson, Aaron and Nicole',
       'Jones, James', "Jon's Pipe Shop", 'Joy, Richard',
       'Kanfer, Larry and Alaina', 'Katsinas, Phillip C.',
       'KEC Design LLC', 'Kennedy, Dana and Michael',
       'King, Stuart and Teresa', 'Kirby, Leslie and Mike',
       'Knowles, Marc', 'Kuhl, Dave', 'Laird, Stuart', 'Lamb, Gene',
       'Lamb, Joseph F.', 'Libman, Sondra', 'LLL Fund', 'Luttrell Design',
       'Lykin, Gregory', 'MACC of Ill. Inc.',
       'Madigan, Sinead and Michael', 'Manning, Claire',
       'Martin, Jane A.', 'Martin, Kevin', 'McDonald, Creg',
       'McManus, Patricia', 'Meid, Steve', 'Meyer, Carl', 'Meyer, Eric',
       'Middle Ground PAC', 'Mike Martin Builders LLC',
       'Miller Enterprises', 'Miller, Jan', 'Miller, Karen',
       'Miller, Karen K.', 'Miller, Marc', 'Mitchell, Max',
       'MRH Apartments', 'Nally, Traci E.', 'Neiswender, Brian',
       'Orange & Blue Distributing Co.', 'PAC 50', 'Parkhill, David',
       'Patrick Nelson Enterprises Inc', 'Pear Tree Estate', 'Peck, Ed',
       'Peifer, William', 'Pelafos, Mark & Diane', 'Peters, Todd',
       'Petroleum Political Education', 'Petry, Joseph',
       'Phillips, James C.', 'Piper, Debra', 'Pope, Kip and Janet',
       'Powell, M.D., J. Roger', 'printec', 'Proactive Strategies Inc.',
       'Professional Independent Insurance Agents of Illinois',
       'Professional Independent Insurance Agents PAC', 'Radnitzer, Karl',
       'Ramshaw, Jerald and Christie',
       'Realtor Political Action Committee', 'Reed, John',
       'Reimers, Lori A.', 'Republican Party of Champaign County',
       'Reynolds Towing', 'Roger Yarbrough Trust',
       'Round Barn Banquet Centre', 'RPAC', 'Ruggieri Team Inc',
       'Ryle, Lynn E.', 'Sandone, Dawn', 'SBC', 'Schweighart, Gerald J.',
       'Second Executive Park', 'Sellers, Thomas', 'Shapland, Julia',
       'Shepherd, William', 'Sholem, David', 'Sholem, David B.',
       'Sloniger, Grant', 'Smith, Stephen', 'Stewart, Jon D.',
       'Stumph, Deborah and Brian', 'Taylor Uhe LLC',
       'The Drawing Card / Susan Huelsing',
       'Tom Berns for State Representative', 'Tortorelli, Linda',
       'Town Center 507 LLC', 'Venable, Robert', 'Walsh, Daniel',
       'Wandell, J.A.', 'Watts, Robert A.', 'Weibl, Richard',
       'Weiss, Kenneth S.', 'Williams, Diana S.', 'Yarbrough, Roger',
       'Zachary, Monica L.'], dtype=object)

In [13]:
df["Donor"][1]

'A.B.D.I. / PAC (Associated Beer Distributors of Illinois)'

In [20]:
df_beverage = df[df["Donor"] == "Illinois Liscensed Beverage Association"]
df_beverage
#non profit org!!! Dark money????

,Contributed By,Amount,Amount Received Date,Report Received Date,Received By,Description,Vendor Name,Vendor Address,Amount received year,Amount received month,Amount received day,Report received year,Report received month,Report received day,Address,Donor,Report delay months
205,Illinois Liscensed Beverage Association\n1127 ...,500.0,2/6/2019,4/14/2019,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2019,2,6,2019,4,14,1127 South Second Street,Illinois Liscensed Beverage Association,{'Report delay months': 2}

In [25]:
df_bruno = df[df["Donor"] == "Bruno, Thomas A."]
df_bruno

,Contributed By,Amount,Amount Received Date,Report Received Date,Received By,Description,Vendor Name,Vendor Address,Amount received year,Amount received month,Amount received day,Report received year,Report received month,Report received day,Address,Donor,Report delay months
33,"Bruno, Thomas A.\n1109 West Park Avenue\nChamp...",125.0,12/9/2003,1/30/2004,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2003,12,9,2004,1,30,1109 West Park Avenue,"Bruno, Thomas A.",{'Report delay months': 1}
34,"Bruno, Thomas A.\n1109 West Park Avenue\nChamp...",50.0,10/17/2003,1/30/2004,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2003,10,17,2004,1,30,1109 West Park Avenue,"Bruno, Thomas A.",{'Report delay months': 3}

In [27]:
df_fox_restaurant = df[df["Donor"] == "Fox Restaurant Venture L.L.C."]
df_fox_restaurant
#https://law.justia.com/cases/federal/district-courts/illinois/ilcdce/2:2017cv02104/69413/31/

,Contributed By,Amount,Amount Received Date,Report Received Date,Received By,Description,Vendor Name,Vendor Address,Amount received year,Amount received month,Amount received day,Report received year,Report received month,Report received day,Address,Donor,Report delay months
113,Fox Restaurant Venture L.L.C.\nJimmy John's\n1...,250.0,10/30/2003,1/30/2004,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2003,10,30,2004,1,30,Jimmy John's,Fox Restaurant Venture L.L.C.,{'Report delay months': 3}

In [22]:
df_ob = df[df["Donor"] == "Orange & Blue Distributing Co."]
df_ob

,Contributed By,Amount,Amount Received Date,Report Received Date,Received By,Description,Vendor Name,Vendor Address,Amount received year,Amount received month,Amount received day,Report received year,Report received month,Report received day,Address,Donor,Report delay months
277,Orange & Blue Distributing Co.\n2902 Lager Dri...,200.0,9/23/2004,4/21/2005,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2004,9,23,2005,4,21,2902 Lager Drive,Orange & Blue Distributing Co.,{'Report delay months': 7}

In [14]:
df_beer = df[df["Donor"] == "A.B.D.I. / PAC (Associated Beer Distributors of Illinois)"]
df_beer

,Contributed By,Amount,Amount Received Date,Report Received Date,Received By,Description,Vendor Name,Vendor Address,Amount received year,Amount received month,Amount received day,Report received year,Report received month,Report received day,Address,Donor
1,A.B.D.I. / PAC (Associated Beer Distributors o...,2000.0,11/6/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,11,6,2005,4,21,P.O. Box 396,A.B.D.I. / PAC (Associated Beer Distributors o...
2,A.B.D.I. / PAC (Associated Beer Distributors o...,500.0,10/15/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,10,15,2005,4,21,P.O. Box 396,A.B.D.I. / PAC (Associated Beer Distributors o...
3,A.B.D.I. / PAC (Associated Beer Distributors o...,300.0,3/10/2004,8/2/2004,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,3,10,2004,8,2,P.O. Box 396,A.B.D.I. / PAC (Associated Beer Distributors o...

In [24]:
df_ramshaw = df[df["Donor"] == "Ramshaw, Jerald and Christie"]
df_ramshaw

,Contributed By,Amount,Amount Received Date,Report Received Date,Received By,Description,Vendor Name,Vendor Address,Amount received year,Amount received month,Amount received day,Report received year,Report received month,Report received day,Address,Donor,Report delay months
303,"Ramshaw, Jerald and Christie\nP.O. Box 680\nCh...",500.0,2/28/2019,4/14/2019,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2019,2,28,2019,4,14,P.O. Box 680,"Ramshaw, Jerald and Christie",{'Report delay months': 2}

In [16]:
#calculating the delay between receiving the money and reporting the money

data = []
for i in range (len(df)):
    difference = df["Report received month"][i] - df["Amount received month"][i]
    if difference < 0: 
        delay = 12 + difference
    else: 
        delay = difference
    d = {"Report delay months" : delay}
    data.append(d)
df["Report delay months"] = data

In [17]:
df

,Contributed By,Amount,Amount Received Date,Report Received Date,Received By,Description,Vendor Name,Vendor Address,Amount received year,Amount received month,Amount received day,Report received year,Report received month,Report received day,Address,Donor,Report delay months
0,15th Congressional District\n1401 Mesquite\nPo...,200.0,9/10/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,9,10,2005,4,21,1401 Mesquite,15th Congressional District,{'Report delay months': 7}
1,A.B.D.I. / PAC (Associated Beer Distributors o...,2000.0,11/6/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,11,6,2005,4,21,P.O. Box 396,A.B.D.I. / PAC (Associated Beer Distributors o...,{'Report delay months': 5}
2,A.B.D.I. / PAC (Associated Beer Distributors o...,500.0,10/15/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,10,15,2005,4,21,P.O. Box 396,A.B.D.I. / PAC (Associated Beer Distributors o...,{'Report delay months': 6}
3,A.B.D.I. / PAC (Associated Beer Distributors o...,300.0,3/10/2004,8/2/2004,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,3,10,2004,8,2,P.O. Box 396,A.B.D.I. / PAC (Associated Beer Distributors o...,{'Report delay months': 5}
4,"ABATE PAC\n1725 E CR 875 N\nCamargo, IL 61919",300.0,10/18/2004,4/21/2005,Transfer In\nCitizens for Deborah Frank Feinen,NaN,NaN,NaN,2004,10,18,2005,4,21,1725 E CR 875 N,ABATE PAC,{'Report delay months': 6}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,"Williams, Diana S.\n1901 Golfview\nUrbana, IL ...",250.0,2/12/2015,4/14/2015,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2015,2,12,2015,4,14,1901 Golfview,"Williams, Diana S.",{'Report delay months': 2}
355,"Williams, Diana S.\n1901 Golfview\nUrbana, IL ...",200.0,8/6/2014,10/1/2014,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2014,8,6,2014,10,1,1901 Golfview,"Williams, Diana S.",{'Report delay months': 2}
356,"Yarbrough, Roger\n1105 Devonshire Drive\nChamp...",250.0,9/28/2004,4/21/2005,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2004,9,28,2005,4,21,1105 Devonshire Drive,"Yarbrough, Roger",{'Report delay months': 7}
357,"Yarbrough, Roger\n1105 Devonshire Drive\nChamp...",250.0,8/5/2004,4/21/2005,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2004,8,5,2005,4,21,1105 Devonshire Drive,"Yarbrough, Roger",{'Report delay months': 8}
358,"Zachary, Monica L.\n598 Pinecrest Place\nRanto...",250.0,2/4/2004,8/2/2004,Individual Contribution\nCitizens for Deborah ...,NaN,NaN,NaN,2004,2,4,2004,8,2,598 Pinecrest Place,"Zachary, Monica L.",{'Report delay months': 6}